.homepage-container {
    display:flex;
    flex-direction: column;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height:80vh;
}

select {

    height:fit-content;
    width:70%;
    padding:1rem;
    font-size: 1rem;;
    font-family: var(--main-font);
    background-color: var(--primary-color);
    border: solid rgb(118, 55, 2) 0px;
    box-shadow: rgb(118, 55, 2) 1px 0px 0px, rgb(118, 55, 2)  2px 2px 0px 0px, rgb(118, 55, 2) 3px 3px 0px 0px, rgb(118, 55, 2) 4px 4px 0px 0px, rgb(118, 55, 2) 5px 5px 0px 0px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    user-select: none;
    touch-action: manipulation;
}

.select-items {
    height:fit-content;
    width:70%;
    padding:1rem;
    font-size: 1rem;;
    font-family: var(--main-font);
    background-color: var(--primary-color);
    border: solid rgb(118, 55, 2) 0px;
    box-shadow: rgb(118, 55, 2) 1px 0px 0px, rgb(118, 55, 2)  2px 2px 0px 0px, rgb(118, 55, 2) 3px 3px 0px 0px, rgb(118, 55, 2) 4px 4px 0px 0px, rgb(118, 55, 2) 5px 5px 0px 0px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    user-select: none;
    touch-action: manipulation;
}

/* .title-home {

} */